html, body { 
  margin:0; 
  padding:0; 
  font-size: 16px;
}

input {
    width: 80px;
}

@media screen and (max-width: 374px) {
}

@media screen and (max-width: 383px) {
    h5 {
        font-size: 32px;
    }  
}

a:hover, a:focus, a:active, a:visited, a:link {
    text-decoration: none !important;
}

body {
    font-family: 'Rock Salt', cursive;
}

.signature {
    font-size: 14px;
    color: #BBB;
    margin-top: 20px;
}

.timerSettings {
    height: 50px;
}

#tictactoe, #game {
    margin: 0 auto;
    text-align: center;
}

h5 {
    text-align: center;
}

canvas {
}

#whoseTurn {
    color: #F00;
}

h5 {
    margin-bottom: 24px;
}

#whoseTurn {
    margin-bottom: 16px;
}
