html, body { 
  margin:0; 
  padding:0; 
  font-size: 24px;
}

input {
    width: 80px;
}

@media screen and (max-width: 374px) {
}

@media screen and (max-width: 383px) {
    h5 {
        font-size: 32px;
    }  
}

a:hover, a:focus, a:active, a:visited, a:link {
    text-decoration: none !important;
}

body {
    font-family: 'Indie Flower', cursive;
}

.signature {
    font-size: 20px;
    color: #BBB;
}

.timerSettings {
    height: 50px;
}

#tictactoe {
    margin: 0 auto;
    text-align: center;
}

h5 {
    text-align: center;
}